# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/template.env
!/docker-compose.yml
!/henk-clc.yml
!/LICENSE
!/README.md

!/conf
!/conf/kh-demo/
!/conf/kh-demo/jwt-keys/
!/conf/kh-demo/jwt-keys/.gitkeep

!/conf/maintenance/
!/conf/maintenance/503.html

!/conf/traefik/
!/conf/traefik/.gitkeep

!/setup/
!/setup/traefik/
!/setup/traefik/00-traefik.sh
!/setup/traefik/10-kh-beta-frontend.sh
!/setup/traefik/10-kh-common-backend.sh
!/setup/traefik/10-kh-common-frontend.sh
!/setup/traefik/10-kh-demo-backend.sh
!/setup/traefik/10-kh-demo-frontend.sh
!/setup/traefik/10-kh-prod-backend.sh
!/setup/traefik/10-kh-prod-frontend.sh
!/setup/traefik/10-maintenance.sh

!/systemd/
!/systemd/docker-prune.service
!/systemd/docker-prune.timer